body{
    background-color:#fff;
    margin:0;padding:0;
}
.my_small{
    font-size: 0.8rem;
}
.my_header,.my_footer{width:100%;}

/* @media screen and (min-width: 992px){  */
    .my_header{height:16rem;} 
    .my_footer{height:16rem;}
/* }  */
 /* @media screen and (max-width: 991px){ 
    .my_header{height:11rem;} 
    .my_footer{height:30rem;}
} */
.text-gray {
    color: #808080 !important;
}
